.Header {
  background-color: var(--ufoGreen);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 1rem 1.5rem;
}

.Header > h1 {
  margin: 0;
}

@media print {
  .Header {
    display: none;
  }
}